*{
    padding: 0px;
    margin: 0px;
}


body,html{
    font-family: roboto, sans-serif;
    background-color: #f0f3fa;
    scroll-behavior: smooth;
}

.width-100{
width: 100%;
float: left;  
}
.width-100-color{
    background: #f0f3fa;
}

.container{
width: 1500px;
margin: 0 auto;
}

.top-header{
    background-color: #2196f3;
    padding: 5px 0px;
    border-bottom: 1px solid #3131315e; 
}

.news-list{
    background: #fff;
    color: red;
    padding: 6px;
    font-size: 20px;
}

.headquote{
    font-size: 18px;
    color: white;
    width: 80%;
}

.header-menu {
    position: relative;
    box-shadow: 0px 2px 5px 0px #00000036;

}

.logo{
    width: fit-content;
    float: left;
}

.main-menu {
    display: flex;
    list-style: none;
    float: right;
    margin-top: 20px;
}

.main-menu a {
    font-weight: 500;
    color:#3a3a3a;
    font-size: 20px;
    text-decoration: none;
}
.main-menu li {
    padding: 12px 15px;
}

.about-drop {
    margin-right: 29%;
    margin-top: 13px;
    display: none;
    position: absolute;
    background: rgb(215, 215, 215);
    box-shadow: 3px 3px 3px 1px;
    z-index: 999;
    right: 95px;
}

.about-drop li {
    list-style: none;
    padding: 10px 15px;
}


.main-menu li:hover .about-drop {
    display: block;
}



@media screen and (max-width: 920px) {
  
.container{
        width: 100%;
        margin: 0 auto;
    }

.headquote{
 width: 78%;
}

.menu-toggle{
    display: block;
        cursor: pointer;
        float: right;
        font-size: 37px;
        margin-top: 22px;
        margin-right: 22px;
}


.main-menu {
    display: none;
    position: fixed;
    top: 11%;
    right: 0;
    width: 70vw;
    max-width: 350px;
    height: auto;
    min-height: 29vh;
    background: rgb(215, 215, 215);
    box-shadow: -3px 3px 3px 1px;
    z-index: 9998;
    transition: opacity 0.3s, height 0.3s;
    overflow-y: auto;
    padding-bottom: 20px;
}

.main-menu.active {
    display: block;
}


/* Disable hover open for about-drop on mobile, only JS toggles it */
    .main-menu li:hover .about-drop {
     display: none !important;
    margin: 0;
    margin-top: 10px;
    position: static;
    box-shadow: none;
    z-index: 999;
    width: 100%;
    padding-left: 10px;
    }

    .main-menu li .about-drop.active{
        display: block !important;
    }




.about-drop li {
    list-style: none;
    padding: 10px 15px;
}


}