*{
    padding: 0px;
    margin: 0px;
}


body,html{
    font-family: roboto, sans-serif;
    background-color: #f0f3fa;
    scroll-behavior: smooth;
}

.width-100{
width: 100%;
float: left;  
}
.width-100-color{
    background: #f0f3fa;
}

.container{
width: 100%;
margin: 0 auto;
}

.top-header{
    background-color: #2196f3;
    padding: 5px 0px;
    border-bottom: 1px solid #3131315e; 
}

.news-list{
    background: #fff;
    color: red;
    padding: 6px;
    float: left;
    font-size: 20px;
}

.headquote{
    font-size: 18px;
    color: white;
    width: 80%;
}

.header-menu {
    position: relative;
    box-shadow: 0px 2px 5px 0px #00000036;

}

.logo{
    width: fit-content;
    float: left;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}


.main-menu {
    display: flex;
    list-style: none;
    float: right;
    margin-top: 20px;
}

.main-menu a {
    position: relative;
    display: inline-block;
    font-weight: 500;
    color:#3a3a3a;
    font-size: 20px;
    text-decoration: none;
}
.main-menu a::after {
     content: " ";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -72px;
    height: 6px;
    width: 0;
    background-color: rgb(24, 0, 86);
    transition: width 0.4s ease-in-out;
    z-index: 99999999;
}

.main-menu a:hover::after {
  width: 100%;
}

.main-menu .about-drop a:hover::after {
  display: none !important;
  content: none !important;
}

.main-menu li {
    padding: 12px 15px;
}

.about-us-height {
    height: 109px;
    }

.about-drop {
    margin-right: 29%;
    margin-top: 74px;
    display: none;
    position: absolute;
    background: rgb(215, 215, 215);
    box-shadow: 3px 3px 3px 1px;
    z-index: 999;
    right: 95px;
    right: 95px;

}

.about-drop li {
    list-style: none;
    padding: 10px 15px;
}


.main-menu li:hover .about-drop {
    display: block;
}

/* body */

.slider-width {
    width: 100%;
    height: auto;
}
.margin-top-50 {
    margin-top: 50px;
}

.facilities{
    margin-left: 10px;
    margin-right: 10px;
    box-sizing: border-box;
    background: #fff;
    padding: 20px;
    height:923px;
    margin-bottom: 30px;
}

.video-section iframe{
    width: 100%;
    height: 814px;
}

.heading-sec {
    width: 100%;
    box-sizing: border-box;
    float: left;
    border-bottom: 1px solid #cfcfcf;
    margin: 0px;
    margin-bottom: 15px;
    padding-top: 2px;
    border: 1px solid #cfcfcf;
    padding-bottom: 10px;
    padding-top: 15px;
    padding-left: 15px;
    background: #00aed9;
    color: white;
   
}
.head-title {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 0px;
}

.facilities-second{
    margin-left: 10px;
    margin-right: 10px;
    box-sizing: border-box;
    background: #fff;
    padding: 20px;
    height: 85px;
    margin-bottom: 30px;
   
    flex-direction: column;
}

.width-50{
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 10px;
}

.hostel-facilities{
    margin-left: 10px;
    margin-right: 10px;
    background: #fff;
    padding: 20px;
    max-height: 60px; /* Only heading visible at first */
    overflow: hidden;
    margin-bottom: 30px;
    box-shadow: 5px 7px 6px 3px #00000036;
}

.hostel-facilities.active {
    max-height: 600px; /* Expand to fit content */
}


.head-title-top {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 0px;
    float: left;
}

.hostel-sign{
    margin: 0px;
    float: right;
    margin-right: 2%;
}

.hostel-sign h4{
    font-size: 16px;

}


/* Signs default states */
.hostel-sign .first-sign { display: inline-block; }  /* + shows */
.hostel-sign .second-sign { display: none; }         /* - hidden */

/* When active */
.hostel-facilities.active .first-sign { display: none; }   /* hide + */
.hostel-facilities.active .second-sign { display: inline-block; }

.content-section {
    display: none;   /* hidden by default */
    line-height: 1.9;
    font-size: 16px;
    color: #000000;
    text-align: justify;
    margin-top: 15px;
}

.content-section.active {
    display: block;  /* show when active */
}

.school-facilities-photo-shadow{
    box-shadow: 5px -2px 6px 3px #00000036;
}




    





/* footer */

.footer{
    background: #232f3e;
    padding: 50px 0px
}

.width-25{
    width: 25%;
    float: left;
}

.quicklink-heading{
        font-size: 18px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}
.quicklink-menu{
    list-style:none;
    padding-left: 10px;
}

.quicklink-menu li a{
    color: white;
    line-height: 2.5;
    font-size: 15px;
    text-decoration: none;
}


.width-25{
    width: 25%;
    float: left;
}

.quicklink-heading{
        font-size: 18px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}
.quicklink-menu{
    list-style:none;
    padding-left: 10px;
}

.quicklink-menu li a{
    color: white;
    line-height: 2.5;
    font-size: 15px;
    text-decoration: none;
}


.student-section-heading{
        font-size: 18px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}
.student-section-menu{
    list-style:none;
    padding-left: 10px;
}

.student-section-menu li a{
    color: white;
    line-height: 2.5;
    font-size: 15px;
    text-decoration: none;
}



.information-heading{
        font-size: 18px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}
.information-menu{
    list-style:none;
    padding-left: 10px;
}

.information-menu li a{
    color: white;
    line-height: 2.5;
    font-size: 15px;
    text-decoration: none;
}



.get-in-touch-heading{
        font-size: 18px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}
.get-in-touch{
    list-style:none;
    padding-left: 10px;
}


.get-in-touch li {
    color: #fff;
    line-height: 2.5;
    font-size: 15px;
    text-decoration: none;
}

.get-in-touch li i {
    color: #ed372c;
    font-size: 20px;
}

.get-in-touch li a {
    color: #fff;
    line-height: 2.5;
    font-size: 15px;
    text-decoration: none;
}

.social-media {
    list-style: none;
    margin-top: 10px;
}
.social-media li {
    float: left;
    padding: 0px 8px;
}

.social-media li a img {
    width: 30px;
}

.footer2-last{
  background: #232f3e;
    padding: 10px 0px;
    border-top: 1px solid #898989;
}

.footer2-content{
font-size: 14px;
    color: white;
    text-align: center;
}




@media screen and (max-width: 1025px) {
    .container{
        width: 100%;
        margin: 0 auto;
    }

.headquote{
 width: 70%;
}

.menu-toggle{
    display: block;
        cursor: pointer;
        float: right;
        font-size: 37px;
        margin-top: 22px;
        margin-right: 22px;
}


.main-menu {
    display: none;
    position: fixed;
    top: 11%;
    right: 0;
    width: 46vw;
    max-width: 350px;
    height: auto;
    min-height: 29vh;
    background: rgb(215, 215, 215);
    box-shadow: -3px 3px 3px 1px;
    z-index: 9998;
    transition: opacity 0.3s, height 0.3s;
    overflow-y: auto;
    padding-bottom: 20px;
}

.main-menu.active {
    display: block;
}

/* Disable hover open for about-drop on mobile, only JS toggles it */
    .main-menu li:hover .about-drop {
     display: none !important;
    margin: 0;
    margin-top: 10px;
    position: static;
    box-shadow: none;
    z-index: 999;
    width: 100%;
    padding-left: 10px;
    }

    .main-menu li .about-drop.active{
        display: block !important;
    }


.main-menu a:hover::after {
 display: none;
}

.about-us-height {
   display: none;
    }

.about-drop li {
    list-style: none;
    padding: 10px 15px;
}
/* main content css */
    
.facilities{
    height:535px;
}

.video-section iframe{
    width: 100%;
    height: 420px;
}

.width-50{
    width: 100%;
}

.hostel-facilities.active {
    max-height: 635px;
}










/* footer css */

.width-25{
   width: 45%;
    float: left;
    margin-left: 40px;
    margin-top: 14px;
}

.width-25-down{
    margin-top: 36px;
}



}


@media screen and (max-width: 420px) {

    .logo img {
        height: 77px;
        width: auto;
    }

    .menu-toggle{
       margin-top: 12px;
        margin-right: 19px;
    }

    .headquote {
        width: 45%;
    }

    .main-menu{
        width: 70vw;
    }

    /* main content css */
    

.facilities{
    height:300px;
}

.video-section iframe{
    width: 100%;
    height: 202px;
}

.hostel-facilities.active{
    max-height: 790px;
}










/* footer css */

.width-25{
  width: 100%;
    float: left;
    margin-left: 40px;
    margin-top: 26px;
}


}


@media screen and (max-width: 250px) {


}
