*{
    padding: 0px;
    margin: 0px;
}


body,html{
    font-family: roboto, sans-serif;
    background-color: #f0f3fa;
    scroll-behavior: smooth;
}

.width-100{
width: 100%;
float: left;  
}
.width-100-color{
    background: #f0f3fa;
}

.container{
width: 1500px;
margin: 0 auto;
}

.top-header{
    background-color: #2196f3;
    padding: 5px 0px;
    border-bottom: 1px solid #3131315e; 
}

.news-list{
    background: #fff;
    color: red;
    padding: 6px;
    font-size: 20px;
}

.headquote{
    font-size: 18px;
    color: white;
    width: 80%;
}

.header-menu {
    position: relative;
    box-shadow: 0px 2px 5px 0px #00000036;

}

.logo{
    width: fit-content;
    float: left;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}


.main-menu {
    display: flex;
    list-style: none;
    float: right;
    margin-top: 20px;
}

.main-menu a {
    font-weight: 500;
    color:#3a3a3a;
    font-size: 20px;
    text-decoration: none;
}
.main-menu li {
    padding: 12px 15px;
}

.about-drop {
    margin-right: 29%;
    margin-top: 13px;
    display: none;
    position: absolute;
    background: rgb(215, 215, 215);
    box-shadow: 3px 3px 3px 1px;
    z-index: 999;
    right: 95px;
}

.about-drop li {
    list-style: none;
    padding: 10px 15px;
}


.main-menu li:hover .about-drop {
    display: block;
}

.slider-width {
    width: 100%;
    height: auto;
}
.margin-top-50 {
    margin-top: 50px;
}
.width-33 {
    width: 33.33%;
    float: left;
}

.latest-news {
    margin-left: 10px;
    margin-right: 10px;
    background: #fff;
    padding: 20px;
    height: 350px;
    margin-bottom: 30px;
}

.heading-sec {
    width: 100%;
    float: left;
    border-bottom: 1px solid #cfcfcf;
    margin: 0px;
    margin-bottom: 15px;
    padding-top: 2px;
    border: 1px solid #cfcfcf;
    padding-bottom: 10px;
    padding-top: 15px;
    padding-left: 15px;
    background: #00aed9;
    color: white;
   
}
.head-title {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 0px;
}
.latest-news-ul {
    padding: 0px;
    list-style: none;
    line-height: 50px;
}

.event-list{
    margin-left: 10px;
    margin-right: 10px;
    background: #fff;
    padding: 20px;
    height: 350px;
    margin-bottom: 30px;

}

.upcoming-event-list {
    padding: 0px;
    list-style: none;
   
}
.upcoming-event-list li{
    width: 100%;
    float: left;
    margin-bottom: 15px;
}

.event-date{
    background: #03a9f4;
    width: 30px;
    float: left;
    text-align: center;
    font-size: 14px;
    color: #fff;
    padding: 8px;
    margin-right: 10px;
}

.notice-board-list {
    padding: 0px;
    list-style: none;

}
.notice-board-list li {
    width: 100%;
    float: left;
    margin-bottom: 15px;
}

.notice-board{
     margin-left: 10px;
    margin-right: 10px;
    background: #fff;
    padding: 20px;
    height: 350px;
    margin-bottom: 30px;

}

.our-services{
    margin-left: 10px;
    margin-right: 10px;
    background: #fff;
    padding: 20px;
    height: 670px;
    margin-bottom: 30px;

}

.our-services-list{
    padding: 0px;
    list-style: none;
    line-height: 32px;
}
.our-services-list li{
    list-style: none;
      width: 100%;
    float: left;
    border-bottom: 1px solid #d7d7d7;
}

 .school-chef{
    margin-left: 10px;
    margin-right: 10px;
    background: #fff;
    padding: 20px;
    height: 670px;
    margin-bottom: 30px;
}

.director{
    margin-bottom: 70px;
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 70px;
}

.width-40{
    width: 40%;
    float: left;
}
.width-60{
    margin-top: 32px;
    width: 55%;
    float: right;

}

.director-info{
    box-shadow: 3px 3px 3px 1px;
 }
 .principal{
    box-shadow: 3px 3px 3px 1px;
 }
  .v-principal{
    box-shadow: 3px 3px 3px 1px;
 }

.school-awards{
    margin-left: 10px;
    margin-right: 10px;
    background: #fff;
    padding: 20px;
    height: 670px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.awards{
   width: 90%;
    height: auto;
    box-shadow: 3px 3px 7px 1px;
    margin-bottom: 10px;
}
.certificates{
   width: 90%;
    height: auto;
    box-shadow: 3px 3px 7px 1px;
    margin-bottom: 10px;
}
.founders{
    margin-left: 10px;
    margin-right: 10px;
    background: #fff;
    padding: 20px;
    height: 260px;
    margin-bottom: 30px;
}

.width-13{
    width: 14%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    display: inline-block;
    text-align: center;
}
.founders-marquee img{
    height: 186px;
    width: auto;
    display: block;
    margin: 0 auto 8px;
    box-shadow: 3px 3px 3px 1px;
}

.founders-info{
    margin-top: 2px;
    font-weight: 600;
    color: #3a3a3a;
    text-align: center;

}

.margin-top-20 {
    margin-top: 20px;
}

.teaching-staff{
    margin-left: 10px;
    margin-right: 10px;
    background: #fff;
    padding: 20px;
    height: 1450px;
    margin-bottom: 30px;
}

.width-15{
    width: 15%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 3%;
    display: inline-block;
}

.staff-img img{
    height: 186px;
    width: auto;
    display: block;
    margin: 0 auto 8px;
    box-shadow: 3px 3px 3px 1px;
}

.staffs-info{
    float: left;
    text-align: center;
    margin-top: 9px;
    font-weight: 600;
    color: #3a3a3a;
    
}


.non-teaching-staff{
    margin-left: 10px;
    margin-right: 10px;
    background: #fff;
    padding: 20px;
    height: 300px;
    margin-bottom: 30px;
}

.footer{
    background: #232f3e;
    padding: 50px 0px
}

.width-25{
    width: 25%;
    float: left;
}

.quicklink-heading{
        font-size: 18px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}
.quicklink-menu{
    list-style:none;
    padding-left: 10px;
}

.quicklink-menu li a{
    color: white;
    line-height: 2.5;
    font-size: 15px;
    text-decoration: none;
}


.width-25{
    width: 25%;
    float: left;
}

.quicklink-heading{
        font-size: 18px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}
.quicklink-menu{
    list-style:none;
    padding-left: 10px;
}

.quicklink-menu li a{
    color: white;
    line-height: 2.5;
    font-size: 15px;
    text-decoration: none;
}


.student-section-heading{
        font-size: 18px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}
.student-section-menu{
    list-style:none;
    padding-left: 10px;
}

.student-section-menu li a{
    color: white;
    line-height: 2.5;
    font-size: 15px;
    text-decoration: none;
}



.information-heading{
        font-size: 18px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}
.information-menu{
    list-style:none;
    padding-left: 10px;
}

.information-menu li a{
    color: white;
    line-height: 2.5;
    font-size: 15px;
    text-decoration: none;
}



.get-in-touch-heading{
        font-size: 18px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}
.get-in-touch{
    list-style:none;
    padding-left: 10px;
}


.get-in-touch li {
    color: #fff;
    line-height: 2.5;
    font-size: 15px;
    text-decoration: none;
}

.get-in-touch li i {
    color: #ed372c;
    font-size: 20px;
}

.get-in-touch li a {
    color: #fff;
    line-height: 2.5;
    font-size: 15px;
    text-decoration: none;
}

.social-media {
    list-style: none;
    margin-top: 10px;
}
.social-media li {
    float: left;
    padding: 0px 8px;
}

.social-media li a img {
    width: 30px;
}

.footer2-last{
  background: #232f3e;
    padding: 10px 0px;
    border-top: 1px solid #898989;
}

.footer2-content{
font-size: 14px;
    color: white;
    text-align: center;
}




@media screen and (max-width: 1025px) {
    .container{
        width: 100%;
        margin: 0 auto;
    }

.headquote{
 width: 70%;
}

.menu-toggle{
    display: block;
        cursor: pointer;
        float: right;
        font-size: 37px;
        margin-top: 22px;
        margin-right: 22px;
}


.main-menu {
    display: none;
    position: fixed;
    top: 11%;
    right: 0;
    width: 46vw;
    max-width: 350px;
    height: auto;
    min-height: 29vh;
    background: rgb(215, 215, 215);
    box-shadow: -3px 3px 3px 1px;
    z-index: 9998;
    transition: opacity 0.3s, height 0.3s;
    overflow-y: auto;
    padding-bottom: 20px;
}

.main-menu.active {
    display: block;
}

/* Disable hover open for about-drop on mobile, only JS toggles it */
    .main-menu li:hover .about-drop {
     display: none !important;
    margin: 0;
    margin-top: 10px;
    position: static;
    box-shadow: none;
    z-index: 999;
    width: 100%;
    padding-left: 10px;
    }

    .main-menu li .about-drop.active{
        display: block !important;
    }




.about-drop li {
    list-style: none;
    padding: 10px 15px;
}

    

.slider-width {
    width: 100%;
    height: auto;
}
.margin-top-50 {
    margin-top: 50px;
}





 .width-33 {
        width: 100%;
        float: left;
    }

.event-list{
    height: 380px;
}
   
.notice-board{
    height: 380px;
}


.school-chef{
        height: 873px;
    }



.width-60{
    margin-top: 15px;
}

.school-awards{
    height: 1102px;
}



.awards{
   width: 90%;
    height: auto;
    box-shadow: 3px 3px 7px 1px;
    margin-bottom: 10px;
}
.certificates{
    margin-bottom: 26px;
}

.founders{
 
    height: 347px;
 
}

.width-13{
    width: 35%;
   
}
.founders-marquee img{
    height: 259px;
}

.founders-info{
    font-weight: 800;
}

.margin-top-20 {
    margin-top: 20px;
}

.teaching-staff{
    height: 6651px;
}


.width-15{
    width: 48%;
}

.staff-img img{
    height:  347px;
   
}

.staffs-info{
    margin-left: 49px;
    font-weight: 800;  
}


.non-teaching-staff{
    height: 918px;
}



.width-25{
   width: 45%;
    float: left;
    margin-left: 40px;
    margin-top: 14px;
}

.width-25-down{
    margin-top: 36px;
}



}


@media screen and (max-width: 420px) {

    .logo img {
        height: 77px;
        width: auto;
    }

    .menu-toggle{
       margin-top: 12px;
        margin-right: 19px;
    }

    .headquote {
        width: 45%;
    }

    .main-menu{
        width: 70vw;
    }


.margin-top-50 {
    margin-top: 20px;
}

 .width-33 {
        width: 100%;
        float: left;
    }




.school-chef{
      height: 601px;
    }


.school-awards{
    height: 574px;
}


.founders{
   height: 291px;
}

.width-13{
    width: 60%;
   
}
.founders-marquee img{
    height: 200px;
}

.founders-info{
    font-weight: 600;
}

.margin-top-20 {
    margin-top: 20px;
}

.teaching-staff{
     height: 12767px;
}


.width-15{
    width: 100%;
}

.staff-img img{
    height:  347px;
   
}

.staffs-info{
    margin-left: 91px;
    font-weight: 800;  
}


.non-teaching-staff{
    height: 1756px;
}



.width-25{
  width: 100%;
    float: left;
    margin-left: 40px;
    margin-top: 26px;
}


}
